<div ng-controller="LoginController">
    <section>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand">JP7 Contact List</div>
                </div>
            </div>
        </nav>
    </section>
    <section class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST" ng-submit="userLogin()">
                        <div class="alert alert-danger" ng-show="error.length > 0">
                            <strong>Whoops!</strong><br><br>
                            <ul>
                                <li>{{ error }}</li>
                            </ul>
                        </div>                        
                        <div class="form-group">
                            <label class="col-md-4 control-label">E-Mail</label>
                            <div class="col-md-6">
                                <input type="email" class="form-control" name="email" value="" ng-model="login.email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Password</label>
                            <div class="col-md-6">
                                <input type="password" class="form-control" name="password" ng-model="login.password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Login</button>
                                <button class="btn btn-success" ng-click="userCreate()">Sign Up</button>
                            </div>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">Social Login</div>
                <div class="panel-body">               
                    <button class="btn btn-default col-md-12" ng-click="userLoginGoogle()" style="text-align: left; margin-bottom: 5px;">
                        <i class="fa fa-google-plus"></i> Google Plus
                    </button>
                    <button class="btn btn-default col-md-12" ng-click="userLoginGithub()" style="text-align: left">
                        <i class="fa fa-github"></i> Github
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>